*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.page-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: darken(darkblue, 25%);
  overflow: hidden;
}

.something {
  color: white;
  font-size: 50px;
  font-weight: bold;
  animation: opacity 2.5s linear both;
}

.letter {
  display: inline-block;
  animation: animeLetters 1s linear both;
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes animeLetters {
  from {
    opacity: 0;
    transform: scale(3);
    padding: 0 30px;
    filter: blur(5px);
  }
  to {
    opacity: 1;
    transform: scale(1);
    padding: 0;
    filter: blur(0);
  }
}
